%section
  %h1 Knowing users by their digital footprint
  %h3 Bill Dueber, University of Michigan

%section
  %h2 Who uses your library?
  %ul
    %li.fragment
      Need to define
      %em every
      word in that question

%section
  %h2 All Library patrons are created equal
  %p.fragment ...but some are more equal than others

%section
  %h2 Data-driven decisions?
  %div{:style=>"padding: 2em 2em"}
    %div{:style=>"float:left; width: 40%"}
      %img{:src=>'images/ape.jpg'}
    %div{:style=>"margin-left: 60%"}
      %img{:src=>"images/pug.jpg"}
  %div.fragment{:style=>"float:left; width: 40%"}
    = "<span class='red'>A</span>ngry"
    = "<span class='red'>P</span>rofessors"
    = "<span class='red'>E</span>meritus"
  %div.fragment{:style=>"margin-left: 60%"}
    = "<span class='red'>P</span>erfect"
    = "<span class='red'>U</span>nder"
    = "<span class='red'>G</span>raduates"
      

%section
  %h2 Data-driven decisions?
  %p In an average year, the average patron interacts with a librarian 0 times (to several significant digits)
  %p.fragment
    %em source: totally made up
   
%section
  %h2 A call to arms
  %ul
    %li.fragment Electronic interaction data to the rescue!
    %li.fragment ...from lots of diverse systems
    %li.fragment ...about people that you'll never meet
    %li.fragment ...that reveal no personally-identifying informaiton
    %li.fragment ...whose intentions are totally opaque
    





%section
  %h2 Overview
  %ul
    %li 260K sessions
    %li 
      72K without any searches
      %ul
        %li 50% are clicks on e-links; did their search elsewhere
        %li 25% people logging in to renew/check their accounts
        %li Some undetermined number are ILL, bookmarks, etc.
    %li 
      188K sessions with searches
      %ul
        %li 60K have nothing but a single search
        %li Another 23K have nothing but multiple searches




%section
  %h2 Credits
  %ul
    %li 
      Ape photo: 
      %a{:href=>"https://secure.flickr.com/photos/frank-wouters/759211749/"}Frank Wouters       
    %li
      Pug photo:
      %a{:href=>"https://secure.flickr.com/photos/dunechaser/244926568/"}Andrew Becraft